Repository openstack-archive/solum: changes, and which Zuul jobs are due for each by the changed paths.
All: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

.zuul.yaml:

- project:
    templates:
      - openstack-cover-jobs
      - openstack-lower-constraints-jobs
      - openstack-python3-xena-jobs
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
      - check-requirements
    check:
      jobs:
        - solum-devstack-centos:
            voting: false
        - solum-devstack
        - solum-tempest-ipv6-only
        - solum-tox-bandit-baseline:
            voting: false
    gate:
      queue: solum
      jobs:
        - solum-devstack
        - solum-tempest-ipv6-only

- job:
    name: solum-devstack-centos
    parent: solum-tempest-base
    nodeset: devstack-single-node-centos-7

- job:
    name: solum-devstack
    parent: solum-tempest-base


- job:
    name: solum-tempest-base
    parent: devstack-tempest
    irrelevant-files: &base_irrelevant_files
      - ^(test-|)requirements.txt$
      - ^setup.cfg$
      - ^doc/.*$
      - ^.*\.rst$
      - ^releasenotes/.*$
      - ^solum/tests/.*$
      - ^contrib/.*$
      - ^examples/.*$
    timeout: 7800
    required-projects: &base_required_projects
      - openstack/devstack
      - openstack/devstack-gate
      - openstack/devstack-plugin-container
      - openstack/python-solumclient
      - openstack/python-zunclient
      - openstack/solum
      - openstack/solum-dashboard
      - openstack/solum-tempest-plugin
      - openstack/zun
      - openstack/zun-tempest-plugin
    vars: &base_vars
      devstack_plugins:
        solum: https://opendev.org/openstack/solum
        zun: https://opendev.org/openstack/zun
        devstack-plugin-container: https://opendev.org/openstack/devstack-plugin-container
      devstack_services:
        tempest: true
        s-account: true
        s-container: true
        s-object: true
        s-proxy: true
        tls-proxy: false
      devstack_localrc:
        TEMPEST_PLUGINS: '/opt/stack/solum-tempest-plugin'
        USE_PYTHON3: True
      tempest_test_regex: application_deployment
      tox_envlist: all

- job:
    name: solum-tempest-ipv6-only
    parent: devstack-tempest-ipv6
    description: |
      Solum devstack tempest tests job for IPv6-only deployment
    irrelevant-files: *base_irrelevant_files
    required-projects: *base_required_projects
    timeout: 7800
    vars: *base_vars

- job:
    # Security testing for known issues
    name: solum-tox-bandit-baseline
    parent: openstack-tox
    timeout: 2400
    vars:
      tox_envlist: bandit-baseline
    required-projects:
      - openstack/requirements
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tools/.*$
      - ^contrib/.*$
      - ^solum/hacking/.*$
      - ^solum/locale/.*$
      - ^solum/tests/.*$

Update master for stable/xena
  releasenotes/source/index.rst
  releasenotes/source/xena.rst
Due: none

Add Python3 yoga unit tests
  .zuul.yaml
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Add py39 classifier
  setup.cfg
Due: none

Remove the unused scripts
  tools/migration/migrate_rev_452f34e8ea3.py
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only

Add tools to irrelevant-files
  .zuul.yaml
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Fix devstack job failures
  .zuul.yaml
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Fix the wrong repo url
  doc/source/user/index.rst
Due: none

Replace git.openstack.org URLs with opendev.org URLs
  contrib/diskimage-builder/README.rst
  examples/plans/solum-pep8.yaml
Due: solum-tox-bandit-baseline

Change md doc to rst
  contrib/common/README.rst
  contrib/example-gitpush/README.rst
  contrib/lp-cedarish/README.rst
  contrib/lp-chef/docker/README.rst
  contrib/lp-dockerfile/docker/README.rst
Due: none

Remove the ReleaseReporter
  etc/solum/config-generator.conf
  setup.cfg
  solum/api/config.py
  solum/api/release.py
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Update .gitreview for stable/yoga
  .gitreview
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Update TOX_CONSTRAINTS_FILE for stable/yoga
  tox.ini
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Update master for stable/yoga
  releasenotes/source/index.rst
  releasenotes/source/yoga.rst
Due: none

Add Python3 zed unit tests
  .zuul.yaml
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Drop lower-constraints.txt and its testing
  lower-constraints.txt
  requirements.txt
  tox.ini
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  solum/locale/de/LC_MESSAGES/solum.po
  solum/locale/en_GB/LC_MESSAGES/solum.po
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only

Fix solum ci
  .zuul.yaml
  solum/common/exception.py
  solum/objects/sqlalchemy/__init__.py
  solum/objects/sqlalchemy/models.py
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Update master for stable/zed
  releasenotes/source/index.rst
  releasenotes/source/zed.rst
Due: none

Switch to 2023.1 Python3 unit tests and generic template name
  .zuul.yaml
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Fix solum ci
  .zuul.yaml
  solum/common/exception.py
  solum/objects/sqlalchemy/__init__.py
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Update .gitreview for stable/zed
  .gitreview
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Update TOX_CONSTRAINTS_FILE for stable/zed
  tox.ini
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

tox: use allowlist_externals
  tox.ini
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Update .gitreview for stable/2023.1
  .gitreview
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Update TOX_CONSTRAINTS_FILE for stable/2023.1
  tox.ini
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Update master for stable/2023.1
  releasenotes/source/2023.1.rst
  releasenotes/source/index.rst
Due: none

Fix deprecated zuul queue syntax
  .zuul.yaml
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Update .gitreview for unmaintained/yoga
  .gitreview
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline

Zuul: Remove references to centos-7 job nodes
  .zuul.yaml
Due: solum-devstack-centos, solum-devstack, solum-tempest-base, solum-tempest-ipv6-only, solum-tox-bandit-baseline
