Repository openstack-archive/solum: changes, and which Zuul jobs are due for each by the changed paths.
All: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

.zuul.yaml:

- project:
    templates:
      - openstack-python-jobs
      - openstack-python35-jobs
      - publish-openstack-sphinx-docs
      - release-notes-jobs
      - check-requirements
    check:
      jobs:
        - solum-devstack
        - solum-devstack-centos-7
        - solum-devstack-py35
        - openstack-tox-lower-constraints
        - solum-tox-bandit-baseline:
            voting: false
    gate:
      queue: solum
      jobs:
        - solum-devstack

        - openstack-tox-lower-constraints
    post:
      jobs:
        - openstack-tox-cover
- job:
    name: solum-devstack-centos-7
    parent: legacy-dsvm-base
    run: playbooks/legacy/solum-devstack-centos-7/run.yaml
    post-run: playbooks/legacy/solum-devstack-centos-7/post.yaml
    irrelevant-files:
      - ^(test-|)requirements.txt$
      - ^setup.cfg$
      - ^doc/.*$
      - ^.*\.rst$
      - ^releasenotes/.*$
      - ^solum/tests/.*$
    voting: false
    timeout: 4200
    nodeset: legacy-centos-7
    required-projects:
      - openstack/devstack
      - openstack/devstack-gate
      - openstack/barbican
      - openstack/devstack-plugin-container
      - openstack/mistral
      - openstack/python-solumclient
      - openstack/python-zunclient
      - openstack/solum
      - openstack/solum-dashboard
      - openstack/zun
      - openstack/zun-tempest-plugin
      - openstack/solum-tempest-plugin

- job:
    name: solum-devstack-py35
    parent: legacy-dsvm-base
    run: playbooks/legacy/solum-devstack-py35/run.yaml
    post-run: playbooks/legacy/solum-devstack-py35/post.yaml
    irrelevant-files:
      - ^(test-|)requirements.txt$
      - ^setup.cfg$
      - ^doc/.*$
      - ^.*\.rst$
      - ^releasenotes/.*$
      - ^solum/tests/.*$
    voting: false
    timeout: 4200
    required-projects:
      - openstack/devstack
      - openstack/devstack-gate
      - openstack/barbican
      - openstack/devstack-plugin-container
      - openstack/mistral
      - openstack/python-solumclient
      - openstack/python-zunclient
      - openstack/solum
      - openstack/solum-dashboard
      - openstack/zun
      - openstack/zun-tempest-plugin
      - openstack/solum-tempest-plugin

- job:
    name: solum-devstack
    parent: legacy-dsvm-base
    run: playbooks/legacy/solum-devstack/run.yaml
    post-run: playbooks/legacy/solum-devstack/post.yaml
    irrelevant-files:
      - ^(test-|)requirements.txt$
      - ^setup.cfg$
      - ^doc/.*$
      - ^.*\.rst$
      - ^releasenotes/.*$
      - ^solum/tests/.*$
    timeout: 4200
    required-projects:
      - openstack/devstack
      - openstack/devstack-gate
      - openstack/barbican
      - openstack/devstack-plugin-container
      - openstack/mistral
      - openstack/python-solumclient
      - openstack/python-zunclient
      - openstack/solum
      - openstack/solum-dashboard
      - openstack/solum-tempest-plugin
      - openstack/zun
      - openstack/zun-tempest-plugin

- job:
    # Security testing for known issues
    name: solum-tox-bandit-baseline
    parent: openstack-tox
    timeout: 2400
    vars:
      tox_envlist: bandit-baseline
    required-projects:
      - openstack/requirements
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tools/.*$
      - ^contrib/.*$
      - ^solum/hacking/.*$
      - ^solum/locale/.*$
      - ^solum/tests/.*$

Remove six
  lower-constraints.txt
  requirements.txt
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Remove six [5]
  solum/objects/sqlalchemy/models.py
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Remove the FIXME
  solum/api/controllers/camp/v1_1/datamodel/types.py
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Make py36 voting
  .zuul.yaml
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Remove six [8]
  solum/common/urlfetch.py
  solum/tests/api/controllers/v1/test_exceptions.py
  solum/tests/api/controllers/v1/test_types.py
  solum/tests/common/test_exception_base.py
  solum/tests/common/test_solum_swiftclient.py
  solum/tests/common/test_urlfetch.py
  solum/tests/uploaders/test_swift.py
  solum/tests/worker/handlers/test_shell.py
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Remove six [3]
  solum/common/exception.py
  solum/common/solum_swiftclient.py
  solum/common/trace_data.py
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Replace safe_utils.getcallargs with inspect.getcallargs
  solum/common/exception.py
  solum/common/safe_utils.py
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Update .gitreview for stable/ussuri
  .gitreview
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  .zuul.yaml
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Fix py38 error
  solum/objects/registry.py
  solum/tests/common/test_service.py
  solum/tests/objects/test_objects_sqlalchemy.py
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Add py38 package metadata
  setup.cfg
Due: none

Bump default tox env from py37 to py38
  tox.ini
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Fix string argument without an encoding error
  .zuul.yaml
  solum/api/handlers/plan_handler.py
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Cleanup py27 support
  babel.cfg
  doc/requirements.txt
  lower-constraints.txt
  releasenotes/source/conf.py
  setup.cfg
  tox.ini
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Fix hacking min version to 3.0.1
  test-requirements.txt
Due: solum-tox-bandit-baseline

Switch to newer openstackdocstheme and reno versions
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  solum/locale/en_GB/LC_MESSAGES/solum.po
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack

drop mock from lower-constraints
  lower-constraints.txt
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Use uwsgi binary from path
  devstack/plugin.sh
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Fix lower-constraints.
  lower-constraints.txt
  requirements.txt
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

[goal] Migrate testing to ubuntu focal
  lower-constraints.txt
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Update .gitreview for stable/victoria
  .gitreview
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

Add Python3 wallaby unit tests
  .zuul.yaml
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix broken CI and lower-constraints
  lower-constraints.txt
  requirements.txt
  solum/tests/__init__.py
  tox.ini
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Re-use rpc transport
  solum/common/rpc/service.py
  solum/conductor/api.py
  solum/deployer/api.py
  solum/rpc.py
  solum/worker/api.py
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

[goal] Deprecate the JSON formatted policy file
  lower-constraints.txt
  releasenotes/notes/deprecate-json-formatted-policy-file-23144ea954ae3b4a.yaml
  requirements.txt
  setup.cfg
  solum/cmd/status.py
  solum/common/config.py
  solum/common/policy.py
  solum/tests/cmd/test_status.py
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Update .gitreview for stable/wallaby
  .gitreview
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Update TOX_CONSTRAINTS_FILE for stable/wallaby
  tox.ini
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Update master for stable/wallaby
  releasenotes/source/index.rst
  releasenotes/source/wallaby.rst
Due: none

Add Python3 xena unit tests
  .zuul.yaml
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Moving IRC network reference to OFTC
  README.rst
Due: none

Update .gitreview for stable/xena
  .gitreview
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline

Update TOX_CONSTRAINTS_FILE for stable/xena
  tox.ini
Due: solum-devstack-centos-7, solum-devstack-py35, solum-devstack, solum-tox-bandit-baseline
